@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.latestworks__item1 {
  background: url("../img/LW1.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item1 a {
  display: none; }

.latestworks__item1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW1.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW1.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW1.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW1.png") 0 0/cover no-repeat; }
  .latestworks__item1:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item2 {
  background: url("../img/LW2.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item2 a {
  display: none; }

.latestworks__item2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW2.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW2.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW2.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW2.png") 0 0/cover no-repeat; }
  .latestworks__item2:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item3 {
  background: url("../img/LW3.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item3 a {
  display: none; }

.latestworks__item3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW3.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW3.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW3.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW3.png") 0 0/cover no-repeat; }
  .latestworks__item3:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item4 {
  background: url("../img/LW4.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item4 a {
  display: none; }

.latestworks__item4:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW4.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW4.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW4.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW4.png") 0 0/cover no-repeat; }
  .latestworks__item4:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item5 {
  background: url("../img/LW5.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item5 a {
  display: none; }

.latestworks__item5:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW5.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW5.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW5.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW5.png") 0 0/cover no-repeat; }
  .latestworks__item5:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item6 {
  background: url("../img/LW6.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item6 a {
  display: none; }

.latestworks__item6:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW6.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW6.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW6.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW6.png") 0 0/cover no-repeat; }
  .latestworks__item6:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item7 {
  background: url("../img/LW7.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item7 a {
  display: none; }

.latestworks__item7:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW7.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW7.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW7.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW7.png") 0 0/cover no-repeat; }
  .latestworks__item7:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item8 {
  background: url("../img/LW8.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item8 a {
  display: none; }

.latestworks__item8:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW8.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW8.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW8.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW8.png") 0 0/cover no-repeat; }
  .latestworks__item8:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

.latestworks__item9 {
  background: url("../img/LW9.png") 0 0/cover no-repeat;
  width: 360px;
  height: 320px; }

.latestworks__item9 a {
  display: none; }

.latestworks__item9:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW9.png") 0 0/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW9.png") 0 0/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW9.png") 0 0/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW9.png") 0 0/cover no-repeat; }
  .latestworks__item9:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-Regular.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype"), url("../fonts/RobotoSlab-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-Bold.eot");
  src: local("☺"), url("fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype"), url("../fonts/RobotoSlab-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-LightItalic.eot");
  src: local("☺"), url("../fonts/RobotoSlab-LightItalic.woff") format("woff"), url("../fonts/RobotoSlab-LightItalic.ttf") format("truetype"), url("../fonts/RobotoSlab-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

body {
  max-width: 1600px;
  margin: 0 auto; }

.container {
  max-width: 1600px;
  height: 770px;
  background-image: url("../img/start.jpg"); }

.header__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative; }

.header__logo {
  padding: 45px 0 0 0;
  font-size: 24px; }

.header__logo a {
  color: #fff; }

.header__menu {
  margin: 45px 0 264px 0; }

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__menu ul li {
  padding: 0 15px; }

.header__menu ul li a {
  color: #fff; }

.header__burger {
  display: none; }

.header .header__center-block {
  width: 100%;
  height: 100%;
  margin-bottom: 100px; }

.header__title {
  font-family: 'Montserrat';
  font-size: 48px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px; }

.header__subtitle {
  font-family: 'RobotoSlab';
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #fff;
  text-align: center;
  margin-bottom: 40px; }

.header__button {
  width: 180px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 0 0 23px; }

.header__button a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase; }

.services__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (21.5%)[3];
  grid-template-columns: repeat(3, 21.5%);
  gap: 45px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.services__column-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #dddddd; }

.services__column-logo-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #dddddd;
  background-color: #c0301c; }

.services__column-title {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin: 29px 0 25px 0;
  text-align: center; }

.services__column-text {
  font-family: 'RobotoSlab';
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  text-align: center; }

.title-block {
  text-align: center;
  margin: 100px 0 70px 0; }
  .title-block__title {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 25px; }
  .title-block__line {
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: 0 auto 25px; }
  .title-block__subtitle {
    font-family: 'RobotoSlab';
    font-size: 16px;
    line-height: 24px;
    color: #555555; }

.aboutus {
  height: 852px;
  background-color: #f8f8f8; }
  .aboutus__about {
    padding-top: 99px; }
  .aboutus__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
    -ms-grid-rows: 110px 250px;
    grid-template-rows: 110px 250px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 32px; }
  .aboutus__text1 {
    max-width: 553px;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #555555;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3; }
  .aboutus__text2 {
    max-width: 553px;
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #555555;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5; }
  .aboutus__pic1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2; }
  .aboutus__name {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
    text-align: center;
    margin: 20px 0 15px 0; }
  .aboutus__work {
    font-family: 'RobotoSlab';
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #555555;
    text-align: center;
    margin-bottom: 99px; }
  .aboutus__pic2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3; }
  .aboutus__pic3 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4; }
  .aboutus__pic4 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5; }

.latestworks__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  font-family: 'RobotoSlab';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.latestworks__menu ul li a {
  color: #555555; }

.latestworks__menu ul li a:hover {
  color: #c0301c; }

.latestworks__pictures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 100px; }

.latestworks__wide {
  background: url("../img/LW_wide.png") 50%/cover no-repeat;
  height: 369px; }

.latestworks__wide:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.6))), url("../img/LW_wide.png") 50%/cover no-repeat;
  background: -webkit-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW_wide.png") 50%/cover no-repeat;
  background: -o-linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW_wide.png") 50%/cover no-repeat;
  background: linear-gradient(rgba(192, 48, 28, 0.6)), url("../img/LW_wide.png") 50%/cover no-repeat; }

.latestworks__text {
  padding-top: 99px;
  text-align: center;
  max-width: 464px;
  margin: 0 auto;
  font-family: 'RobotoSlab';
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 53px; }

.latestworks__button {
  width: 180px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 0 0 23px; }

.latestworks__button a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase; }

.blog__post1 {
  max-width: 1140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto 39px; }

.blog__picture {
  margin: 0 auto; }

.blog__info {
  display: -ms-grid;
  display: grid; }

.blog__heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
  grid-template-columns: 1fr 6fr;
  -ms-grid-rows: 39px;
  grid-template-rows: 39px; }

.blog__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
  width: 76px;
  height: 76px;
  border: 2px solid #555555; }

.blog__date span {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777; }

.blog__titlein {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c0301c;
  margin: 10px 0 0 25px; }

.blog__subtitlein {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  font-family: 'RobotoSlab';
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #777777;
  margin: 0 0 0 25px; }

.blog__subtitlein span {
  color: #c0301c; }

.blog__text {
  font-family: 'RobotoSlab';
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555; }

.blog__link {
  font-family: 'RobotoSlab';
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c0301c; }

.blog__link a {
  color: #c0301c; }

.blog__post2 {
  width: 1140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto 100px; }

.blog__post2 .blog__titlein {
  color: #555555; }

.blog__line {
  display: block;
  max-width: 1140px;
  height: 1px;
  margin: 0 auto;
  background-color: #dddddd;
  margin-bottom: 39px; }

.slider {
  max-width: 1600px;
  height: 477px;
  background-color: #f8f8f8; }
  .slider__item {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto; }
  .slider__item ul {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 54px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slider__text {
    max-width: 773px;
    text-align: center;
    font-family: 'RobotoSlab';
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: italic;
    color: #555555;
    margin: 0 auto 30px; }
  .slider__signature {
    font-family: 'RobotoSlab';
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    color: #555555;
    text-align: center;
    margin-bottom: 40px; }

/* Слайдер */
.slick-slider {
  min-width: 0; }

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки */
/* Конкретный слайдер */
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px; }

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider .slick-dots li {
  margin: 0px 10px; }

.slider .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: #dddddd;
  border-radius: 50%; }

.slider .slick-dots li.slick-active button {
  background-color: #c0301c;
  border: 1px solid #fff; }

.slider__item {
  padding: 0px 15px; }

.slider__item img {
  max-width: 100%; }

.git__structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.git__contacts {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[6];
  grid-template-rows: repeat(6, 1fr); }

.git__contact-block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.git__form {
  border: 1px solid #000;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 66.667%;
  flex: 0 1 66.667%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 44px, 44px, 104px, 44px;
  grid-template-rows: 44px, 44px, 104px, 44px; }

.git__name {
  border: 1px solid #000;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2; }

.git__subject {
  border: 1px solid #000;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3; }

.git__mail {
  border: 1px solid #000;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 2; }

.git__company {
  border: 1px solid #000;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 3; }

.git__notice {
  border: 1px solid #000;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 4; }

.git__btn {
  border: 1px solid #000;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 5; }

.git__comment {
  border: 1px solid #000;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 5; }
