// Файл обнуляющих стилей
@import "nullstyle.scss";
// Дополнительные файлы стилей
@import "pictures-items.scss";


//шрифты====================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab-Regular.eot');
	src: local('☺'), url('../fonts/RobotoSlab-Regular.woff') format('woff'), url('../fonts/RobotoSlab-Regular.ttf') format('truetype'), url('../fonts/RobotoSlab-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab-Bold.eot');
	src: local('☺'), url('fonts/RobotoSlab-Bold.woff') format('woff'), url('../fonts/RobotoSlab-Bold.ttf') format('truetype'), url('../fonts/RobotoSlab-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab-LightItalic.eot');
	src: local('☺'), url('../fonts/RobotoSlab-LightItalic.woff') format('woff'), url('../fonts/RobotoSlab-LightItalic.ttf') format('truetype'), url('../fonts/RobotoSlab-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}

.container{
    max-width: 1600px;
    height: 770px;
    background-image: url('../img/start.jpg');
}

.header {
    
    &__header {
        display: flex;
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
        justify-content: space-around;
        position: relative;
        
    }

    &__logo {
        padding: 45px 0 0 0;
        font-size: 24px;
        position: relative;
        z-index: 3;
    }

    &__logo a{  
        color:#fff;
    }

    &__menu{
        margin:45px 0 264px 0;
    }

    &__menu ul{
        display: flex;
        
    }
    &__menu ul li{
        padding: 0 15px;
    }

    &__menu ul li a{
        color:#fff;
    }

    &__burger {
        display: none;
    }

    .header__center-block{
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }

    &__title {
        font-family: 'Montserrat';
        font-size: 48px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-family: 'RobotoSlab';
        font-size: 20px;
        line-height: 24px;
        text-transform: none;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
    }

    &__button {
        width: 180px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 2px;
        cursor: pointer;
        margin: 0 auto;
        padding: 10px 0 0 23px;
    }

    &__button a{
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }
}
.content {
}
.services {

    &__services {
    }

    &__columns {
        display: grid;
        grid-template-columns: repeat(3, 21.5%);
        gap: 45px;
        justify-content: center;
    }

    &__column {
    }

    &__column-logo {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 2px solid #dddddd;
    }

    &__column-logo-red {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 2px solid #dddddd;
        background-color: #c0301c;
    }

    &__column-title {
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #555555;
        margin: 29px 0 25px 0;
        text-align: center;
    }

    &__column-text {
        font-family: 'RobotoSlab';
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #555555;
        text-align: center;
    }
}

.title-block {
    text-align: center;
    margin: 100px 0 70px 0;

    &__title {
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #555555;
        margin-bottom: 25px;
    }

    &__line {
        width: 50px;
        height: 2px;
        background-color: #555555;
        margin: 0 auto 25px;
    }

    &__subtitle {
        font-family: 'RobotoSlab';
        font-size: 16px;
        line-height: 24px;
        color: #555555;
    }
}

.aboutus {
    height: 852px;
    background-color: #f8f8f8;
    

    &__about {
        padding-top: 99px;
    }

    &__title {
    }

    &__line {
    }

    &__subtitle {
    }

    &__content {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-template-rows: 110px 250px;
        justify-content: center;
        gap: 32px;
        
    }


    &__text1 {
        max-width: 553px;
        font-family: 'RobotoSlab';
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #555555;
        grid-column: 1/3;
        
    }

    &__text2 {
        max-width: 553px;
        font-family: 'RobotoSlab';
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #555555;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    &__pic1 {
        grid-column-start: 1;
        grid-column-end: 2;
        object-fit: cover;
        padding: 0 0 50% 0;
    }

    &__name {
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #555555;
        text-align: center;
        margin: 20px 0 15px 0;
    }

    &__work {
        font-family: 'RobotoSlab';
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #555555;
        text-align: center;
        margin-bottom: 99px;
    }

    &__pic2 {
        grid-column-start: 2;
        grid-column-end: 3;
        object-fit: cover;
        padding: 0 0 50% 0;
    }

    &__pic3 {
        grid-column-start: 3;
        grid-column-end: 4;
        object-fit: cover;
        padding: 0 0 50% 0;
    }

    &__pic4 {
        grid-column-start: 4;
        grid-column-end: 5;
        object-fit: cover;
        padding: 0 0 50% 0;
    }
}
.latestworks {
    

    &__titleblock {
    }

    &__title {
    }

    &__line {
    }

    &__menu {
        
    }

    &__menu ul {
        display: flex;
        justify-content: center;
        gap: 15px;
        font-family: 'RobotoSlab';
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    &__menu ul li a {
        color: #555555;
    }

    &__menu ul li a:hover{
        color: #c0301c;
    }

    &__pictures {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        gap: 30px;
        padding-bottom: 100px; 
    }

    &__wide {
        background: url('../img/LW_wide.png') 50%/cover no-repeat;
        height: 369px;
    }

    &__wide:hover{
        background: linear-gradient(rgba(192, 48, 28, 0.6)), url('../img/LW_wide.png') 50%/cover no-repeat;
    }

    &__text {
        padding-top: 99px;
        text-align: center;
        max-width: 464px;
        margin: 0 auto;
        font-family: 'RobotoSlab';
        font-size: 30px;
        line-height: 44px;
        font-weight: 400;
        color: #ffffff;
        padding-bottom: 53px;
    }

    &__button {
        width: 180px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 2px;
        cursor: pointer;
        margin: 0 auto;
        padding: 10px 0 0 23px;
    }

    &__button a {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }
}
.blog {

    &__titleblock {
    }

    &__line {
    }

    &__posts {
        
    }

    &__post1 {
        max-width: 1140px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto 39px;
    }

    &__picture {
        margin: 0 auto;
    }

    &__info {
        display: grid;
        
    }

    &__heading {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 39px;
    }

    &__date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        font-family: 'Montserrat';
        font-size: 24px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #777777;
        width: 76px;
        height: 76px;
        border: 2px solid #555555;
    }

    &__date span{
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #777777;
    }

    &__titlein {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #c0301c;
        margin: 10px 0 0 25px;
    }

    &__subtitlein {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        font-family: 'RobotoSlab';
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: italic;
        color: #777777;
        margin: 0 0 0 25px;
    }

    &__subtitlein span {
        color: #c0301c;
    }

    &__text {
        font-family: 'RobotoSlab';
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #555555;
    }

    &__link {
        font-family: 'RobotoSlab';
        font-size: 13px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #c0301c;
    }

    &__link a {
        color: #c0301c;
    }

    &__post2 {
        width: 1140px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto 100px;
    }

    &__post2 .blog__titlein {
        color: #555555;
    }

    &__line{
        display: block;
        max-width: 1140px;
        height: 1px;
        margin: 0 auto;
        background-color: #dddddd;
        margin-bottom: 39px;
    }
}

.slider {
    max-width: 1600px;
    height: 477px;
    background-color: #f8f8f8;


    &__item {
        max-width: 1000px;        
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__item ul {
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 54px;
        align-items: center;
    }

    &__text {
        max-width: 773px;
        text-align: center;
        font-family: 'RobotoSlab';
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        font-style: italic;
        color: #555555;
        margin: 0 auto 30px;
    }

    &__signature {
        font-family: 'RobotoSlab';
        font-size: 20px;
        line-height: 30px;
        font-style: normal;
        color: #555555;
        text-align: center;
        margin-bottom: 40px;
    }
}
.filter {
}

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
    visibility: hidden;
}
.slider .slick-arrow.slick-prev{
}
.slider .slick-arrow.slick-next{
}
.slider .slick-arrow.slick-disabled{
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
    
}
.slider .slick-dots li{	
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 13px;
	height: 13px;
	background-color: #dddddd;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: #c0301c;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}

.git {
    max-width: 1125px;
    margin: 0 auto 100px;
    
    &__titleblock {
    }

    &__title {
    }

    &__line {
    }

    &__subtitle {
    }

    &__structure{
        display: flex;
        justify-content: space-around;
    }

    &__contacts {
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: column;
        
    }

    &__contact-block {
    }

    &__contact-block-title {
        display: flex;
    }

    &__contact-block-logo {
        margin-top: 7px;
    }

    &__contact-block-subtitle {
        padding-left: 15px;
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #555555;
        margin-bottom: 10px;
    }

    &__contact-block-text {
        font-family: 'Roboto Slab';
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        color: #555555;
        margin-bottom: 30px;
        padding-left: 25px;
    }

    &__form {
        flex: 0 1 66.667%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 4;
        
    }

    &__name {
        border: 1px solid #555555;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 3;
        grid-row-end: 2;
        margin: 0 30px 20px 0;
        padding-left: 10px;
    }

    &__name:focus{
        border: 1px solid #c0301c;
        box-shadow: 1px 1px 3px #c0301c, inset 1px 1px 3px #c0301c;
    }

    &__mail{
        border: 1px solid #555555;
        grid-column-start: 3;
        grid-row-start: 1;
        grid-column-end: 5;
        grid-row-end: 2;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    &__mail:focus{
        border: 1px solid #c0301c;
        box-shadow: 1px 1px 3px #c0301c, inset 1px 1px 3px #c0301c;
    }

    &__subject {
        border: 1px solid #555555;
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 3;
        grid-row-end: 3;
        margin: 0 30px 20px 0;
        padding-left: 10px;
    }   

    &__subject:focus{
        border: 1px solid #c0301c;
        box-shadow: 1px 1px 3px #c0301c, inset 1px 1px 3px #c0301c;
    }

    &__company {
        border: 1px solid #555555;
        grid-column-start: 3;
        grid-row-start: 2;
        grid-column-end: 5;
        grid-row-end: 3;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    &__company:focus{
        border: 1px solid #c0301c;
        box-shadow: 1px 1px 3px #c0301c, inset 1px 1px 3px #c0301c;
    }

    &__notice {
        border: 1px solid #555555;
        grid-column-start: 1;
        grid-row-start: 3;
        grid-column-end: 5;
        grid-row-end: 4;
        margin-bottom: 20px;
        height: 104px;
        padding: 10px 0 0 10px;
    }

    &__notice:focus{
        border: 1px solid #c0301c;
        box-shadow: 1px 1px 3px #c0301c, inset 1px 1px 3px #c0301c;
    }

    &__btn{
        border: 1px solid #555555;
        grid-column-start: 1;
        grid-row-start: 4;
        grid-column-end: 2;
        grid-row-end: 5;
        margin: 0 38px 0 0;
        font-family: 'Roboto Slab';
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #555555;
        height: 44px;
    }

    &__btn:focus{
        border: 1px solid #c0301c;
        box-shadow: 1px 1px 3px #c0301c, inset 1px 1px 3px #c0301c;
        color: #c0301c;
    }

    &__btn:hover{
        background-color: rgb(143, 69, 69);
        color:blanchedalmond;
        transition-duration: 500ms;
    }

    &__comment {
        font-family: 'RobotoSlab';
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: #555555;;
        grid-column-start: 2;
        grid-row-start: 4;
        grid-column-end: 5;
        grid-row-end: 5;
        padding-top: 10px;
    }

    &__comment span{
        color: #c0301c;
        padding-right: 3px;
    }
}
.footer {
    width: 1600px;
    height: 307px;
    background-color: #c0301c;

    &__icons ul{
        display: flex;
        justify-content: center;
        
    }

    &__icons ul li{
        margin: 100px 10px 30px;        
        border-radius: 50%;
        border: 1px solid #fff;        
    }    

    &__icons ul li a{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__line {
        width: 50px;
        height: 2px;
        background-color: #fff;
        margin: 0 auto 25px;
    }

    &__text {
        font-family: 'RobotoSlab';
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
}

//адаптив============================================

@media (max-width: 767px){
    .header__burger{
        display: flex;
        position: relative;
        z-index: 4;
        width: 30px;
        height: 20px;
        
    }
    .header__burger span{
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        top: 9px;
        transition: all 0.3s;
        z-index:4;
    }
    .header__burger:before,
    .header__burger:after { 
        content:'';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        transition: all 0.3s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__menu {
        position: absolute;
        top: -800%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
    }
    .header__menu ul {
        display: block;        
        font-size: 28px;
        line-height: 50px;
        text-align: center;
        background: linear-gradient(rgba(192, 48, 28, 0.5));
    }
    .header__menu ul li{
        margin: 10px 0;
    }
    .header__center-block {
        margin-top: 30%;
        transition: all 0.5s;
    }
    .header__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px ;
    }
    .header__logo {
        top: -20px;
    }
    .header__title{
        line-height: 44px;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);  
    }
    .header__menu.active {
        top: 0;
        transition: all 0.5s;
    }
    .header__center-block.active {
        margin-top: 60%;
        transition: all 0.5s;
    }
    .services__columns {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .services__column-text {
        text-align: start;
    }
}

@media (max-width: 690px){
    .header__center-block.active {
        margin-top: 80%;
        transition: all 0.5s;
    }
    .header__title {
        opacity: 1;
        transition: all 0.5s;
    }
    .header__title.active {
        opacity: 0;
        transition: all 0.5s;
    }
}
// @media (max-width: 1200px) {
//     &__content {
//         display: grid;
//         grid-template-columns: repeat(2, auto);
//         grid-template-rows: 1fr 2fr 1fr 2fr;
//         grid-auto-columns: minmax(200px, auto);

//     }


//     &__text1 {
//         grid-column-start: 1;
//         grid-column-end: 3;
//         grid-row-start: 1;
//         grid-row-end: 2;
//     }

//     &__text2 {
//         grid-column-start: 1;
//         grid-column-end: 3;
//         grid-row-start: 3;
//         grid-row-end: 4;
//     }

//     &__pic1 {        
//         grid-column-start: 1;
//         grid-column-end: 2;
//         grid-row-start: 2;
//         grid-row-end: 3;
//     }

//     &__pic2 {
//         grid-column-start: 2;
//         grid-column-end: 3;
//         grid-row-start: 2;
//         grid-row-end: 3;
//     }

//     &__pic3 {
//         grid-column-start: 1;
//         grid-column-end: 2;
//         grid-row-start: 4;
//         grid-row-end: 5;
//     }

//     &__pic4 {
//         grid-column-start: 2;
//         grid-column-end: 3;
//         grid-row-start: 4;
//         grid-row-end: 5;
//     }
// }

